//colors

$black-bg: #3E4345;
$yellow-base: #F3A72E;
$yellow-smooth: #FCF3D7;
$gray-90: #5E6366;
$gray-10: #F7F9FA;
$red-base: #EA3D2F;


//font-size

$logo: 24px;
$font-main: 18px;
$font-small: 12px;

//box-shadow
$shadow: 0px 4px 8px rgba(54, 123, 245, 0.24);
$shadow-hover: 0px 16px 24px rgba(54, 123, 245, 0.2);