.cart {
  position: fixed;
  width: 320px;
  max-height: 400px;
  overflow-y: auto;
  top: 80px;
  right: 20px;
  border: 1px solid #000;
  background: $black-bg;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;

  &-empty {
    text-align: center;
  }
}

.cart-btn {
  width: 90%;
}