.cart-page {
  padding: 100px 15px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;

  &-total {
    display: flex;
    align-items: center;

    & span {
      display: flex;
      align-items: center;
      margin:0 0 0 40px;
    }

    & h2 {
      margin: 0 0 0 10px;
    }
  }
}

.cart {

  &-empty {
    text-align: center;
  }
}

.cart-item {
  width: 40%;
  margin: 15px 15px;
  border-bottom: 1px solid #ccc;
}